.contacts {
    font-size: 3rem;
}

.contacts__location:before {
    font-family: "FontAwesome";
    content: "\f124";
    margin-right: 1rem;
}

.contacts__tel-num:before {
    font-family: "FontAwesome";
    content: "\f095";
    margin-right: 1rem;
}

.contacts__email:before {
    font-family: "FontAwesome";
    content: "\f199";
    margin-right: 1rem;
}

