.navigation--main {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(5, max-content);
    grid-gap: 2rem;
}

.navigation--main a {
    padding: 1.5rem 3rem;
    font-size: 1.6rem;
    text-decoration: none;
    color: #fff;
    transition: all .3s;

}

.navigation--main a:hover {
    background-color: #fff;
    color: #333;
}