body {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7;
    color: #000;
    background-color: #efefef;

}


.heading-1 {
    font-size: 5.5rem;
    color: #fff;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    line-height: 2;
    letter-spacing: 2.7px;
    text-align: center;
}

.heading-2 {
    font-size: 4.5rem;
    color: #333;
    font-weight: bold;
    font-family: "OpenSans", sans-serif;


}

.heading-2--one:before {
    content: "01.";
    color: #ffd800;
}

.heading-2--two:before {
    content: "02.";
    color: #00deff;
}

.heading-2--three:before {
    content: "03.";
    color: #3ce78c;
}

.heading-3 {
    font-size: 3.5rem;
    color: #fff;
    font-weight: bold;
    font-family: "OpenSans", sans-serif;
    background-color: yellow;
    text-align: center;

}

.heading-3--one {
    padding: 5rem;
    background-color: #ffd800;
}

.heading-3--two {
    padding: 5rem;
    background-color: #00deff;
}

.heading-3--three {
    padding: 5rem;
    background-color: #3ce78c;
}

.my-profession {
    font-size: 2rem;
}
